*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.left-content,
.right-content {
  float: left;
  width: 100%;
  min-height: 50%;
  margin 0;
  overflow: hidden;
}

@media (min-width: 830px) {
  .left-content,
  .right-content {
    height: 100%;
  }
}

.left-content {
  background: #49274A;
}

.right-content {
  background: #94618E;
  left: 100%;
}

.nff,
.ycf {
  position: absolute;
  width: 100%;
  margin 0;
}

.nff {
  background: #94618E;
}
.ycf {
  left: 100%;
  background: #FF9804;
}

@media (min-width: 830px) {
  .left-content,
  .right-content {
    float: left;
    position: relative;
    width: 50%;
  }

  .right-content {
    left: inherit;
  }

  .nff,
  .ycf {
    height: 100%;
  }

  .center-vertically {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
  }
}

.welcome-container {
  display: inline-block;
  position: relative;
  padding: 2em;
}

@media (min-width: 830px) {
  .welcome-container {
    height: calc(90vh);
  }
}

.welcome-text {
  text-align: left;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 100;
  font-family: sans-serif;
  color: #F8EEE7;
}

.desktop {
  display: none;
}

.mobile {
  display: inline;
}

@media (min-width: 830px) {
  .welcome-text {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
  }

  .desktop {
    display: inline;
  }

  .mobile {
    display: none;
  }
}

.connect-container {
  display: none;
  text-align: center;
  width: 100%;
  padding: 0;
}

.connect-container.mobile {
  display: inline-block;
  text-align: right;
}



@media (min-width: 830px) {
  .connect-container {
    display: inline-block;
  }

  .connect-container.mobile {
    display: none;
  }
}

.connect-container li{
  display: inline-block;
  font-family: 'Arial', sans-serif;
  color: #F8EEE7;
}

.connect-container li a{
  color: #F8EEE7;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}

.spacer {
  margin: 0 8px;
}

.employer-link,
.work-link {
  text-decoration: underline;
  cursor: pointer;
}

.employer-link {
  color: #F8EEE7;
}

@media (min-width: 830px) {
  .work-link {
    cursor: default;
    text-decoration: none;
  }
}

.iphone {
  display: block;
  margin: 0 auto;
  width: 175px;
}

@media (min-width: 640px) {
  .iphone {
    width: 150px;
  }
}

@media (min-width: 850px) {
  .iphone {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .iphone {
    width: 225px;
  }
}

.iphone:after {
  content: url('../images/app-store-badge.png');
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 50px;
  height: 10px;
  display: block;
}

@media (min-width: 830px) {
  .container {
    flex-direction: row;
    height: 100%;
    min-height: 100%;
  }
}

.badge {
  height: 20px;
}

.close-icon {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #49274A;
  text-align: center;
}

.close-icon .fa {
  line-height: 31px;
  color: #F8EEE7;
}

.header-container {
  height: calc(10vh);
}

@media (min-width: 830px) {
  .header-container {
    background: transparent;
  }
}

.project-info {
  color: #fff;
  display: block;
  padding: 0 2em;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
}

.project-info.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.project-info.available {
  font-size: 12px;
  font-weight: 100;
}

.image-container {
  padding: 2em 0 0;
}

.info-container {
  margin-top: 2em;
}

.paging-container {
  display: table-cell;
  width: calc(100vw);
  height: calc(10vh);
  text-align: center;
  vertical-align: middle;
}

.paging-container.connect {
  display: none;
}

@media (min-width: 830px) {
  .paging-container,
  .header-container {
    width: calc(50vw);
  }

  .image-container {
    overflow: hidden;
    height: calc(90vh);
  }

  .paging-container.connect {
    display: block;
  }
}

.circle {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  line-height: calc(10vh);
  border-radius: 50%;
  border: solid 1px #fff;
}

.circle:hover {
  background: #fff;
}

.active {
  background: #fff;
}

@media (min-width: 830px) {
  .close-icon {
    display: none;
  }
}

.nff.open {
  animation: slideOpenOne .35s 1 forwards;
}

.ycf.open {
  animation: slideOpenTwo .35s 1 forwards;
}

.nff.open.close {
  animation: slideCloseOne .4s 1 forwards;
}

.ycf.open.close {
  animation: slideCloseTwo .4s 1 forwards;
}

@keyframes slideOpenTwo {
  0% {
    left: 100%;
  }
  100% {
   left: 0%;
  }
}

@keyframes slideOpenOne {
  0% {
    left: 0%;
  }
  100% {
    left: -25%;
  }
}

@keyframes slideCloseTwo {
  0% {
    left: 0%;
  }
  100% {
   left: 100%;
  }
}

@keyframes slideCloseOne {
  0% {
    left: -25%;
  }
  100% {
    left: 0%;
  }
}
