html,
body,
.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.left-content,
.right-content {
  float: left;
  width: 100%;
  height: 100%;
  margin 0;
  overflow: hidden;
}

.left-content {
  background: #49274A;
  overflow: auto;
}

.right-content {
  background: #94618E;
  left: 100%;
}

@media (min-width: 830px) {
  .left-content,
  .right-content {
    float: left;
    position: relative;
    width: 50%;
  }

  .right-content {
    left: inherit;
  }

  .nff,
  .ycf {
    background: #94618E;
    position: absolute;
    width: 100%;
    height: 100%;
    margin 0;
  }

  .ycf {
    left: 100%;
  }
}

.welcome-container {
  display: inline-block;
  position: relative;
}

@media (min-width: 830px) {
  .welcome-container {
    top: 50%;
    transform: translateY(-50%);
  }
}

.welcome-text {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 100;
  font-family: sans-serif;
  color: #F8EEE7;
  padding: 1em 0.5em;
  margin: 2em 0 0;
}

@media (min-width: 830px) {
  .welcome-text {
    text-align: left;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0 2em;
    margin: 0;
  }
}

.connect-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0;
}

@media (min-width: 830px) {
  .connect-container {
    position: absolute;
    bottom: 10%;
  }
}

.connect-container li{
  display: inline-block;
  font-family: 'Arial', sans-serif;
  color: #F8EEE7;
}

.connect-container li a{
  color: #F8EEE7;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
}

.spacer {
  margin: 0 8px;
}

.employer-link,
.work-link {
  text-decoration: underline;
  cursor: pointer;
}

.employer-link {
  color: #F8EEE7;
}

@media (min-width: 830px) {
  .work-link {
    cursor: default;
    text-decoration: none;
  }
}

.iphone {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 50%;
}

@media (min-width: 640px) {
  .iphone {
    width: 37.5%;
  }
}

@media (min-width: 830px) {
  .iphone {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .iphone {
    width: 35%;
  }
}

.iphone:after {
  content: url('../images/app-store-badge.png');
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 50px;
  height: 10px;
  display: block;
}

@media (min-width: 830px) {
  .container {
    flex-direction: row;
    height: 100%;
    min-height: 100%;
  }
}

.badge {
  height: 20px;
}

.close-icon {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #49274A;
  text-align: center;
}

.close-icon .fa {
  line-height: 31px;
  color: #F8EEE7;
}

.header-container {
  height: calc(10vh);
  background: 'red';
}

.project-title {
  color: #fff;
  display: inline-block;
  padding: 0 2em;
  line-height: calc(10vh);
  font-weight: 500;
  font-family: sans-serif;
}

.image-container {
  overflow: hidden;
  height: calc(80vh);
}
.paging-container {
  margin: 1em 0;
  height: calc(10vh);
  text-align: center;
}

.circle {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 0 3px;
  line-height: calc(10vh);
  border-radius: 50%;
  border: solid 1px #fff;
}

.circle:hover {
  background: #fff;
}

.active {
  background: #fff;
}

@media (min-width: 830px) {
  .close-icon {
    display: none;
  }
}

.nff.open {
  animation: slideOpenOne .35s 1 forwards;
}

.ycf.open {
  animation: slideOpenTwo .35s 1 forwards;
}

.nff.open.close {
  animation: slideCloseOne .35s 1 forwards;
}

.ycf.open.close {
  animation: slideCloseTwo .35s 1 forwards;
}

@keyframes slideOpenTwo {
  0% {
    left: 100%;
  }
  100% {
   left: 0%;
  }
}

@keyframes slideOpenOne {
  0% {
    left: 0%;
  }
  100% {
    left: -25%;
  }
}

@keyframes slideCloseTwo {
  0% {
    left: 0%;
  }
  100% {
   left: 100%;
  }
}

@keyframes slideCloseOne {
  0% {
    left: -25%;
  }
  100% {
    left: 0%;
  }
}
